/* @font-face {
  font-family: 'SpectrumSans';
  src: url('/fonts/SpectrumSans_Bd.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpectrumSans';
  src: url('/fonts/SpectrumSans_Rg.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpectrumSans';
  src: url('/fonts/SpectrumSans_Md.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'SpectrumSans';
  src: local('SpectrumSans'),
    url(/fonts/SpectrumSans_Bd.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpectrumSans';
  src: local('SpectrumSans'),
    url(/fonts/SpectrumSans_Rg.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpectrumSans';
  src: local('SpectrumSans'),
    url(/fonts/SpectrumSans_Md.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GraphikSemibold';
  src: local('GraphikSemibold'),
    url(/fonts/graphik-font-family/GraphikSemibold.otf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* font-family: GraphikSemibold !important; */
  font-family: SpectrumSans !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
